name: tests

on: push

jobs:
  pytest:
    runs-on: ubuntu-latest
    services:
      test-postgres:
        image: library/postgres:13.1
        env:
          POSTGRES_USER: yaaccu
          POSTGRES_DB: yaaccu_test
          POSTGRES_PASSWORD: securepassword
    env:
      DB_HOST: postgres
      DB_USER: yaaccu
      DB_NAME: yaaccu
      DB_PASSWORD: securepassword
      TEST_DB_HOST: test-postgres
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Test with pytest
        run: |
          pwd
          ls
          cat alembic.ini
          pytest --cov=yaaccu --cov-report=xml
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        with:
          verbose: true
